.citrus_petco_hills_bp{
    max-width: 1440px;
    margin: 0 auto;
}

.citrus_hills .citrus_petco_hills_bp__hero{
    background-image: url("img/bp/citrus-petco-hills-curve-dsk1.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start !important;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 330px;
}

.citrus_petco_hills_bp__hero h1, p{
    color: #fff;
}

.citrus_petco_hills_bp__hero h1{
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}

.citrus_petco_hills_bp__hero p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 10px 0 0;
    color: #fff;
}

.citrus_petco_hills_bp__hero .disclaimer{
    padding: 0;
    font-size: 12px;
    font-family: "PetcoCircularTT-Regular", arial !important;
    font-weight: 500;
}

.citrus_petco_hills_bp__hero--logo{
    padding: 2% 0 0 3%;
    min-width: 10%;
}

.citrus_petco_hills_bp__hero--copy{
    padding: 2% 0% 2% 2%;
    min-width: 55%;
}

.citrus_petco_hills_bp__hero--copy .cta-box{
    flex-wrap: wrap !important;
    padding: 20px 0;
    border: none;
    width: auto;
    background: unset;
    justify-content: flex-start !important;
}

.citrus_petco_hills_bp__hero--copy .cta-box a{
    width: auto;
    border-radius: 0.25rem;
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    color: #001952;
    font-family: "PetcoCircularTT-Bold", arial !important;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    min-width: 180px;
}

.citrus_petco_hills_bp__hero--copy .cta-box a:nth-child(2){
    margin-left: 22px;
}

.citrus_petco_hills_bp__hero--copy .cta-box:focus-visible{
    outline: 0;
}

.citrus_petco_hills_bp__hero--shots{
    padding: 30px 0 0 0;
    max-width: 550px;
    margin: 0 auto;
}

.pov1 .citrus_petco_hills_bp__hero--shots{
    max-width: 420px;
}


/* Specific Range Sections */
.citrus_petco_hills_bp__specific_range{

}

.citrus_hills .citrus_petco_hills_bp__specific_range--content{
    justify-content: space-between;
    gap: 40px;
    padding: 0 15px 20px;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.citrus_petco_hills_bp__specific_range--content::-webkit-scrollbar {
    display: none;
}

.citrus_petco_hills_bp__specific_range--content a{
    min-width: 186px;
}

.citrus_petco_hills_bp__specific_range--content a h3{
    color: #000;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

/* Bottom Video section */
.citrus_hills .citrus_petco_hills_bp__videos--content{
    background: #003F81;
    padding: 20px 10% 50px;
    margin-top: 50px;
    gap: 10%;
    justify-content: space-between;
}

.citrus_petco_hills_bp__videos--img{
    margin-top: -50px;
}

.citrus_hills .citrus_petco_hills_bp__videos--copy{
    width: 50%;
    flex-direction: column;
}

.citrus_petco_hills_bp__videos--copy h2{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-align: center;
}

.citrus_petco_hills_bp__videos--copy p{
    padding: 20px 0;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #fff;
}

.citrus_petco_hills_bp__videos--copy .cta-box{
    
}