
.citrus_hills img{
    width: 100%;
}

.citrus_hills .flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.citrus_hills a{
    text-decoration: none;
}

.citrus_hills  .cta-underline{
    font-size: 16px;
    color: #001952;
    font-family: "PetcoCircularTT-Bold", arial !important;
    text-align: center;
    text-decoration: underline;
    width: 100%;
}


#findFood{
    width: 300px;
    height: 450px;
    border: 1px solid #ddd;
    background: #00205B;
    color : #fff;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    font-family: "PetcoCircularTT-Bold", arial !important;
    border-radius: 10px;
    text-decoration: underline;
    
}


/* Hide default scrollbar */

.citrus_petco_hills_modal-content::-webkit-scrollbar {
    display: none;
}