

/* bread__container Styles */

.bread__container {
    overflow: hidden;
  }
  
  /* Style the buttons inside the bread__container */
  .bread__container button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .bread__container button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .bread__container button.active {
    background-color: #ccc;
  }
  
  /* Style the bread__container content */
  .search_content {
    /* display: none; */
  }